<!--
컴포넌트
기타
# 컴포넌트 사이의 순환 참조

자세히 살펴보면이 컴포넌트가 실제로 렌더링 트리에서 서로의 자식 및 조상인 패러독스라는 것을 알 수 있습니다!
-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
</head>

<body>

<div id="app">
    <tree-folder v-for="item of dev" :folder="item"></tree-folder>
</div>

<script>
    Vue.config.devtools = true;

    Vue.component('tree-folder', {
        template: '<p>\n' +
        '  <span>{{ folder.name }}</span>\n' +
        // tree-folder 컴포넌트에서 tree-folder-contents 컴포넌트를 사용한다.
        '  <tree-folder-contents :children="folder.children"/>\n' +
        '</p>',
        props: ['folder']
    });

    Vue.component('tree-folder-contents', {
        template: '<ul>\n' +
        '  <li v-for="child in children">\n' +
        // tree-folder-contens 컴포넌트에서 tree-folder 컴포넌트를 사용한다.
        '    <tree-folder v-if="child.children" :folder="child"/>\n' +
        '    <span v-else>{{ child.name }}</span>\n' +
        '  </li>\n' +
        '</ul>',
        props: ['children']
    });

    const vm = new Vue({
        el: '#app',
        data: {
            'dev': [{
                name: 'ide',
                children: [{
                    name: 'VSCode-win32-x64-1.23.1'
                }, {
                    name: 'VSCode-win32-x64-1.23.1.zip'
                }]
            }, {
                name: 'jdk',
                children: [{
                    name: 'jdk1.8.0_172',
                    children: [{
                        name: 'bin',
                        children: [{
                            name: 'appletviewer.exe'
                        }, {
                            name: 'extcheck.exe'
                        }, {
                            name: 'idlj.exe'
                        }, {
                            name: 'jabswitch.exe'
                        }]
                    }]
                }, {
                    name: 'jdk-6u45'
                }, {
                    name: 'jdk-7u80'
                }, {
                    name: 'jdk-8u101'
                }]
            }, {
                name: 'lib',
                children: [{
                    name: 'font-awesome-4.7.0'
                }, {
                    name: 'Highcharts-4.1.5'
                }, {
                    name: 'bootstrap-3.3.7-dist.zip'
                }]
            }]
        }
    });
</script>

</body>
</html>