<!--
컴포넌트
Props가 아닌 속성
# 사용자 정의 이벤트를 사용하여 폼 입력 컴포넌트 만들기
-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
    <script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/974aa47f8f9c5361c5233bd56be37db8ed765a09/currency-validator.js"></script>
</head>

<body>

<div id="app">
    <currency-input label="Price" v-model="price"></currency-input>
    <currency-input label="Shipping" v-model="shipping"></currency-input>
    <currency-input label="Handling" v-model="handling"></currency-input>
    <currency-input label="Discount" v-model="discount"></currency-input>
    <p>Total: ${{ total }}</p>
</div>

<script>
    Vue.config.devtools = true;

    Vue.component('currency-input', {
        template: '\
            <div>\
              <label v-if="label">{{ label }}</label>\
              $\
              <input ref="input"\
                v-bind:value="value"\
                v-on:input="updateValue($event.target.value)"\
                v-on:focus="selectAll"\
                v-on:blur="formatValue"\
              >\
            </div>\
          ',
        props: {
            value: {
                type: Number,
                default: 0
            },
            label: {
                type: String,
                default: ''
            }
        },
        mounted: function () {
            this.formatValue()
        },
        methods: {
            updateValue: function (value) {
                // 펑션 인자로 들어온 value = 바뀐 값
                // this.value = 값이 바뀌기 전의 값

                // 1번째 인자 값이 제대로된 통화 값이면 1번째 인자 사용
                // 아니면 2번째 인자값 사용
                let result = currencyValidator.parse(value, this.value);

                if (result.warning) {
                    // input 의 value 값을 직접 변경 => 바인딩된 value 값이 변경됨.
                    this.$refs.input.value = result.value;
                }

                // 부모에게 input 이벤트 발생
                this.$emit('input', result.value);
            },
            formatValue: function () {
                // 값이 숫자가 아니면 "NaN"
                this.$refs.input.value = currencyValidator.format(this.value);
            },
            selectAll: function (event) {
                // Workaround for Safari bug
                // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
                setTimeout(function () {
                    event.target.select()
                }, 0);
            }
        }
    })

    const vm = new Vue({
        el: '#app',
        data: {
            price: 0,
            shipping: 0,
            handling: 0,
            discount: 0
        },
        computed: {
            total: function () {
                // IEEE 754 표준대로 실수 계산을 하는 모든 언어에 나타나는 문제!
                // http://sunychoi.github.io/javascript/2015/04/05/javascript-float-type-error.html
                // https://ko.wikipedia.org/wiki/IEEE_754
                let calc = (this.price * 100) + (this.shipping * 100) + (this.handling * 100) - (this.discount * 100);
                return (calc / 100).toFixed(2)
            }
        }
    });
</script>

</body>
</html>