<!--
컴포넌트
동적 컴포넌트
# keep-alive

트랜지션된 컴포넌트를 메모리에 유지하여 상태를 보존하거나 다시 렌더링하지 않도록하려면 동적 컴포넌트를 <keep-alive> 엘리먼트에 래핑 할 수 있습니다.
-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
</head>

<body>

<div id="app">
    <p>
        <template v-for="view of views">
            <input type="radio" v-model="currentView" :value="view" :id="view">
            <label :for="view">{{ view }}</label>
        </template>
    </p>

    <!--
    어떤 것은 캐시하고 어떤 것은 캐시하고 싶지 않다면?
    https://kr.vuejs.org/v2/api/#keep-alive
    -->
    <keep-alive exclude="archive">
        <component :is="currentView">
            <!-- 비활성화 된 컴포넌트는 캐시 됩니다! -->
            <!-- 2.2.0 이상에서는 <keep-alive> 트리 안에 있는 모든 중첩 된 컴포넌트에서 activated와 deactivated가 실행됩니다. -->
        </component>
    </keep-alive>
</div>

<script>
    Vue.config.devtools = true;

    const createdHandler = function () {
        console.log(this.$options.name + ':' + this._uid + ' created.');
    };

    const destroyedHandler = function () {
        console.log(this.$options.name + ':' + this._uid + ' destroyed.');
    };

    const activatedHandler = function () {
        console.log(this.$options.name + ':' + this._uid + ' activated.');
    };

    const deactivatedHandler = function () {
        console.log(this.$options.name + ':' + this._uid + ' deactivated.');
    };

    Vue.component('home', {
        template: '<span>home component!</span>',
        created: createdHandler,
        destroyed: destroyedHandler,
        activated: activatedHandler,
        deactivated: deactivatedHandler
    });

    Vue.component('posts', {
        template: '<span>posts component!</span>',
        created: createdHandler,
        destroyed: destroyedHandler,
        activated: activatedHandler,
        deactivated: deactivatedHandler
    });

    Vue.component('archive', {
        template: '<span>archive component!</span>',
        created: createdHandler,
        destroyed: destroyedHandler,
        activated: activatedHandler,
        deactivated: deactivatedHandler
    });

    const vm = new Vue({
        el: '#app',
        data: {
            currentView: 'home',
            views: ['home', 'posts', 'archive']
        }
    });
</script>

</body>
</html>