<!--
폼 입력 바인딩
기본 사용법

v-model은 모든 form 엘리먼트의 초기 value와 checked 그리고 selected 속성을 무시합니다.
항상 Vue 인스턴스 데이터를 원본 소스로 취급합니다.
컴포넌트의 data 옵션 안에 있는 JavaScript에서 초기값을 선언해야합니다.
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://kr.vuejs.org/js/vue.js"></script>
</head>
<body>

<div id="app">
    <!-- 초기 value 값이 무시된다. -->
    이름: <input name="name" value="홍길동" placeholder="이름을 입력하세요." v-model="name">

    <p>
        취미:
        <input name="hobby" type="checkbox" id="hobby-game" value="game" v-model="hobby"/>
        <label for="hobby-game">게임</label>
        <!-- 초기 checked 값이 무시된다. -->
        <input name="hobby" type="checkbox" id="hobby-sports" value="sports" v-model="hobby" checked="checked"/>
        <label for="hobby-sports">스포츠</label>
        <input name="hobby" type="checkbox" id="hobby-reading" value="reading" v-model="hobby"/>
        <label for="hobby-reading">스포츠</label>
    </p>

    <!-- 초기 checked 값이 무시된다. -->
    <input name="subscribe" id="chk-subscribe" type="checkbox" checked="true" v-model="subscribe"/>
    <label for="chk-subscribe">(선택) 구독에 동의 합니다.</label>
</div>

<script>
    Vue.config.devtools = true;

    const vm = new Vue({
        el: '#app',
        data: {
            name: '',
            hobby: ['game', 'reading'],
            subscribe: false
        }
    });
</script>

</body>
</html>