<!--
폼 입력 바인딩
기본 사용법
# 라디오
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://kr.vuejs.org/js/vue.js"></script>
</head>
<body>

<div id="app">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>선택: {{ picked }}</span>
</div>

<script>
    Vue.config.devtools = true;

    const vm = new Vue({
        el: '#app',
        data: {
            picked: ''
        }
    });
</script>

</body>
</html>