<!--
재사용 & 컴포지션
> Render Functions & JSX
 > 템플릿 기능을 일반 JavaScript로 변경하기
   # v-if 와 v-for

일반 JavaScript를 사용할 수 있는 환경이면 어디든지 Vue 렌더링 함수는 한가지 방법만을 제공하지는 않습니다.
예를 들어,v-if와v-for를 사용하는 템플릿에서 :
-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
</head>

<body>

<div id="app">
    <my-comp :items="items"/>
</div>

<script>
    Vue.config.devtools = true;

    Vue.component('my-comp', {
        props: ['items'],
        render: function (createElement) {
            /*
            <ul v-if="items.length">
                <li v-for="item in items">{{ item.name }}</li>
            </ul>
            <p v-else>No items found.</p>
             */
            if (this.items.length) {
                return createElement('ul', this.items.map(function (item) {
                    return createElement('li', item.name);
                }))
            } else {
                return createElement('p', 'No items found.');
            }
        }
    });

    const vm = new Vue({
        el: '#app',
        data: {
            items: [{
                name: '리스트 렌더링'
            }, {
                name: '이벤트 핸들링'
            }, {
                name: '폼 입력 바인딩'
            }, {
                name: '컴포넌트'
            }]
        }
    });
</script>

</body>
</html>
