<!--
컴포넌트
기타
# 자식 컴포넌트 참조

ref가 v-for와 함께 사용될 때, 얻을 수 있는 ref는 데이터 소스를 미러링하는 자식 컴포넌트를 포함하는 배열이 될 것입니다.
-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
</head>

<body>

<div id="app">
    <ul>
        <!-- <li v-for="item of items">{{item}}</li> -->
        <my-li ref="li" v-for="item of items" :text="item"></my-li>
    </ul>
</div>

<script>
    Vue.config.devtools = true;

    Vue.component('my-li', {
        template: '<li :title="text">{{ text }}</li>',
        props: ['text']
    });

    const vm = new Vue({
        el: '#app',
        data: {
            items: ['재사용 가능한 컴포넌트 제작하기',
                '자식 컴포넌트 참조',
                '비동기 컴포넌트',
                '고급 비동기 컴포넌트',
                '컴포넌트 이름 규약',
                '재귀 컴포넌트',
                '컴포넌트 사이의 순환 참조',
                '인라인 템플릿']
        }
    });

    console.log(vm);
</script>

</body>
</html>