<!--
컴포넌트
Props
# 동적 Props

정규 속성을 표현식에 바인딩하는 것과 비슷하게, v-bind를 사용하여 부모의 데이터에 props를 동적으로 바인딩 할 수 있습니다.
데이터가 상위에서 업데이트 될 때마다 하위 데이터로도 전달됩니다.
-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="https://kr.vuejs.org/js/vue.js"></script>
</head>

<body>
<div id="app">
    <todo-item v-for="todo of todos" v-bind="todo"></todo-item>
    <!--
    <todo-item v-bind:text="todo.text" v-bind:is-complete="todo.isComplete"></todo-item> 와 같다.
    -->
</div>

<script>
    Vue.config.devtools = true;

    Vue.component('todo-item', {
        // 만약 title props 를 사용하지 않게 하면?
        props: ['title', 'isComplete'],
        template: '<div v-if="isComplete === false">{{ title }}</div>'
    });

    const vm = new Vue({
        el: '#app',
        data: {
            todos: [{
                title: '카이 호스트만의 코어 자바8',
                isComplete: true
            }, {
                title: '모던 웹을 위한 Node.js 프로그래밍',
                isComplete: false
            }, {
                title: '실전 스프링 부트 워크북',
                isComplete: false
            }]
        }
    });
</script>

</body>

</html>