<!--
리스트 랜더링
v-for 와 v-if

실행을 조건부로 하는 것이 목적이라면 래퍼 엘리먼트(또는 <template>)을 사용하세요.
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app">
    <ul v-if="todos.length">
        <template v-for="todo in todos">
            <li v-if="!todo.isComplete">{{ todo.title }}</li>
        </template>
    </ul>
    <p v-else>No todos left!</p>
</div>


<script>
    Vue.config.devtools = true;

    const todos = [{
        title: '카이 호스트만의 코어 자바8',
        isComplete: true
    }, {
        title: '모던 웹을 위한 Node.js 프로그래밍',
        isComplete: false
    }, {
        title: '실전 스프링 부트 워크북',
        isComplete: false
    }];

    const vm = new Vue({
        el: '#app',
        data: {
            todos : todos
        }
    });
</script>

</body>
</html>