<!--
폼 입력 바인딩
값 바인딩하기
# 라디오
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://vuejs.org/js/vue.js"></script>
</head>
<body>

<div id="app">
    <div v-for="b of books">
        <input name="pick" :id="'pick-' + b.barcode" type="radio" v-model="pick" :value="b.barcode"
               :key="b.barcode"/>
        <label :for="'pick-' + b.barcode">{{ b.title }}</label>
    </div>
</div>

<script>
    Vue.config.devtools = true;

    const vm = new Vue({
        el: '#app',
        data: {
            books: [{
                barcode: '9791188612789',
                title: 'Do it! Vue.js 입문',
                price: 13500,
                author: {
                    written: '장기효',
                    translation: null
                },
                publisher: {
                    name: '이지스퍼블리싱',
                    date: '20180127'
                },
                image: 'http://image.kyobobook.co.kr/images/book/large/789/l9791188612789.jpg'
            }, {
                barcode: '9791162240618',
                title: 'Vue.js 첫걸음',
                price: 19800,
                author: {
                    written: '이지호',
                    translation: null
                },
                publisher: {
                    name: '한빛미디어',
                    date: '20180402'
                },
                image: 'http://image.kyobobook.co.kr/images/book/large/618/l9791162240618.jpg'
            }, {
                barcode: '9791186710197',
                title: '빠르게 배워서 바르게 적용하는 Vue.js 퀵 스타트',
                price: 27000,
                author: {
                    written: '원형섭',
                    translation: null
                },
                publisher: {
                    name: '루비페이퍼',
                    date: '20170905'
                },
                image: 'http://image.kyobobook.co.kr/images/book/large/197/l9791186710197.jpg'
            }, {
                barcode: '9791161750897',
                title: 'Vue.js 2 Cookbook',
                price: 31500,
                author: {
                    written: '안드레아 파살리아',
                    translation: '조승진'
                },
                publisher: {
                    name: '에이콘출판',
                    date: '20180102'
                },
                image: 'http://image.kyobobook.co.kr/images/book/large/897/l9791161750897.jpg'
            }],
            pick: ''
        }
    });
</script>

</body>
</html>