<!--
폼 입력 바인딩
값 바인딩하기
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app">
    <!-- `picked` 는 선택시 문자열 "a" 입니다 -->
    <input type="radio" v-model="picked" value="a">

    <!-- `toggle` 는 true 또는 false 입니다 -->
    <input type="checkbox" v-model="toggle">

    <!-- `selected`는 "ABC" 선택시 "abc" 입니다 -->
    <select v-model="selected">
        <option value="abc">ABC</option>
        <option value="def">DEF</option>
        <option value="ghi">GHI</option>
    </select>
</div>

<script>
    Vue.config.devtools = true;

    const vm = new Vue({
        el: '#app',
        data: {
            picked: '',
            toggle: true,
            selected: 'def'
        }
    });
</script>

</body>
</html>