<!--
리스트 랜더링
key
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
</head>
<body>

<div id="v-for-object" class="demo">
    <ul>
        <li v-for="fruit in fruits" :key="fruit.id">{{ fruit.name }} ( {{ fruit.price }} )</li>
    </ul>

    <ul>
        <li v-for="(fruit, index) in fruits" :key="`fruit-${index}`">{{ fruit.name }} ( {{ fruit.price }} )</li>
    </ul>

    <ul>
        <li v-for="{name, price, id} in fruits" :key="id">{{ name }} ( {{ price }} )</li>
    </ul>
</div>

<script>
    Vue.config.devtools = true;

    const vm = new Vue({
        el: '#v-for-object',
        data: {
            fruits: [{
                id: 0,
                name: 'apple',
                price: 1000
            }, {
                id: 1,
                name: 'banana',
                price: 1500
            }, {
                id: 2,
                name: 'orange',
                price: 3000
            }]
        }
    });
</script>

</body>
</html>