<!--
트랜지션 & 애니메이션
트랜지션 재사용

함수형 컴포넌트는 특히 이 작업에 적합합니다.
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://kr.vuejs.org/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
</head>

<body>

<div id="app">
    <button @click="show = !show">Toggle</button>
    <fade-transition>
        <p v-if="show">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis enim libero, at lacinia
            diam fermentum id. Pellentesque habitant morbi tristique senectus et netus.
        </p>
    </fade-transition>

    <fade-transition :duration="3000">
        <p v-if="show">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis enim libero, at lacinia
            diam fermentum id. Pellentesque habitant morbi tristique senectus et netus.
        </p>
    </fade-transition>
</div>

<script>
    Vue.config.devtools = true;

    Vue.component('fade-transition', {
        functional: true,
        render: function (createElement, context) {
            // default value
            let duration = context.props.duration ? context.props.duration : 500;

            const data = {
                props: {},
                on: {
                    beforeEnter: function (el) {
                        $(el).css('opacity', 0);
                    },
                    enter: function (el, done) {
                        $(el).animate({
                            opacity: 1
                        }, duration, done);
                    },
                    enterCancelled: function (el) {
                        $(el).stop();
                    },
                    leave: function (el, done) {
                        $(el).animate({
                            opacity: 0
                        }, duration, done);
                    },
                    leaveCancelled: function (el) {
                        console.log('vue transition leave-cancelled.');
                        $(el).stop();
                    }
                }
            };
            return createElement('transition', data, context.children)
        }
    });

    const vm = new Vue({
        el: '#app',
        data: {
            show: false
        }
    });
</script>

</body>

</html>