<!--
트랜지션 & 애니메이션
트랜지션 재사용

트랜지션은 Vue의 컴포넌트 시스템을 통해 재사용 할 수 있습니다.
재사용 할 수있는 트랜지션을 만드려면 루트에 <transition>또는 <transition-group> 컴포넌트를 놓은 다음 자식을 트랜지션 컴포넌트에 전달하면됩니다.
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://kr.vuejs.org/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
</head>

<body>

<div id="app">
    <button @click="show = !show">Toggle</button>
    <fade-transition>
        <p v-if="show">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis enim libero, at lacinia
            diam fermentum id. Pellentesque habitant morbi tristique senectus et netus.
        </p>
    </fade-transition>

    <fade-transition :duration="3000">
        <p v-if="show">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis enim libero, at lacinia
            diam fermentum id. Pellentesque habitant morbi tristique senectus et netus.
        </p>
    </fade-transition>
</div>

<script>
    Vue.config.devtools = true;

    Vue.component('fade-transition', {
        props: {
            duration: {
                type: Number,
                default: 500
            }
        },
        template:
        '<transition @before-enter="beforeEnter" @enter="enter" @leave="leave" :css="false">' +
        '   <slot></slot>' +
        '</transition>',
        methods: {
            beforeEnter: function (el) {
                $(el).css('opacity', 0);
            },
            enter: function (el, done) {
                $(el).animate({
                    opacity: 1
                }, this.duration, done);
            },
            enterCancelled: function (el) {
                $(el).stop();
            },
            leave: function (el, done) {
                $(el).animate({
                    opacity: 0
                }, this.duration, done);
            },
            leaveCancelled: function (el) {
                $(el).stop();
            }
        }
    });

    const vm = new Vue({
        el: '#app',
        data: {
            show: false
        }
    });
</script>

</body>

</html>